@model WorkWebApp.data._shift
@{
    ViewData["Title"] = "InfoShift";
}

<div>
    <h1>Shift Information</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            <th>Shift ID:</th>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.record_id)
        </dd>
        <dt class="col-sm-4">
            <th>User ID:</th>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.userid)
        </dd><dt class="col-sm-4">
            <th>Start time:</th>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.start_time)
        </dd><dt class="col-sm-4">
            <th>End time:</th>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.end_time)
        </dd><dt class="col-sm-4">
            <th>Date:</th>
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.dateofshift)
        </dd><dt class="col-sm-4">
            <th>Shift ID:</th>
        </dt>
    </dl>
    
    <div>
        <p style="margin-right:15px;">
            <a href="@Url.Content("./edit?id=" + Model.record_id)"><button class="btn btn-warning btn-lg btn-block">Edit</button></a>
            <a href="@Url.Content("./delete?id=" + Model.record_id)"><button class="btn btn-danger btn-lg btn-block">Delete</button></a>

            @* <a class="btn btn-dark btn-lg btn-block" asp-action="Employees">Back</a>
            *@
        </p>
    </div>
</div>