@page
@using WorkWebApp.data
@model Calendar

@{ 
    var daysOfWeek = new[] {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" };
    var currentDate = DateTime.Today;
}

<div class="row">
    <div class="col-10 text-center">
        <h2>@currentDate.ToString("MMMM yyyy")</h2>
    </div>
</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Employee</th>
        @for (int i = 0; i < 7; i++)
        {
            <th>@currentDate.AddDays(i).ToString("dd-MM")</th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var employee in Model.Users)
    {
        <tr>
            <td>@employee.firstname</td>
            @foreach (var day in Enumerable.Range(0, 7).Select(i => currentDate.AddDays(i)))
            {
                <td>
                    @{
                        var shifts = Model.Shifts.Where(s => s.userid == employee.record_id && s.dateofshift.Date == day.Date).ToList();
                        if (shifts.Any())
                        {
                            foreach (var shift in shifts)
                            {
                                <div>@shift.start_time.ToString("HH:mm:ss") - @shift.end_time.ToString("HH:mm:ss")</div>
                            }
                        }
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>
