@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WorkWebApp.data
@model EmployeesModel

@{
    ViewData["Title"] = "Employees";
}

<div style="overflow:auto" height:345px>

<h1>Users</h1>

    <a class="text-center"/>
   <table class="table">
           <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Birthday</th>
            <th>Role</th>
            <th>Department</th>
            <td></td>
            <td></td>
        </tr>
        </thead>
           <tbody>
           @foreach (_user item in Model.Users)
           {
               <tr>
                   <td>@item.firstname</td>
                   <td>@item.lastname</td>
                   <td>@item.mail</td>
                   <td>@item.phonenumber</td>
                   <td>@item.birthday</td>
                   <td>@item.role</td>
                   <td>@item.department</td>
                   <td><a asp-controller="Admin" class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@item.record_id">Edit</a></td>
                   <td><a asp-controller="Admin" class="btn btn-sm btn-danger" asp-action="DeleteUser" asp-route-id="@item.record_id">Delete</a></td>
               </tr>
           }
           </tbody>
           </table>
<a href="/CreateProfile">Create an Employee Account</a>
</div>