@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EmployeesModel

@{
    ViewData["Title"] = "Employees";
}

<div style="overflow:auto" height:345px>
<h1>Employee List</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>Role</th>
                <th>Department</th>
                <th> </th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.mail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.phonenumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.department)
                    </td>
                    <td>
                    <td class="text-center">
                        <a asp-action="InfoUser" class="btn btn-info"  asp-route-record_id="@item.record_id">More</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <p style="text-align:right;margin-left:15px;">
        <a class="btn btn-primary" href="/CreateProfile">Create an Employee</a>
    </p>
</div>